*, 
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-size: 100%;
    background-color:rgb(17, 17, 17);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}

.caixa{
    margin-top: 5%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.caixa h1{
    color: white;
}

.caixa .fcaixa{
    min-width: 350px;
    display: flex;
    justify-content: space-between;
    margin:  20px 0;
}

.caixa .fcaixa input:first-of-type{
    height: 35px;
    padding: 0 2%;
    width: 70%;
    border-radius: 10px;
    border: none;
}

.caixa .fcaixa input:last-of-type{
    height: 35px;
    width: 27%;
    border-radius: 10px;
    background-color: rgb(76, 175, 80);
    color: white;
    border: none;
    cursor: pointer;
}

ul{
    min-width: 350px;
}

ul li{
    background-color: rgb(34, 34, 34);
    height: 40px;
    list-style: none;
    border-radius: 10px;
    color: white;
    padding: 2% 3%;
    display: flex;
    justify-content: space-between;
}

.remove {
  color: #ff4d4d;
  cursor: pointer;
  font-weight: bold;
}

li.completed {
  background-color: rgb(76, 175, 80);
  text-decoration: line-through;
  color: black;
}

